body {
    background-color: rgb(116, 111, 111);
    color: lightgreen;
    font-family: "Courier New", monospace;
    font-size: 100%;
}

h3 {
    font-size: 1.5em;
    margin: 0%;
}

#title {
    padding: 2em;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

    height: fit-content;
    width: fit-content;
    border-radius: 20px;
    background-color: rgb(0, 18, 32);
    box-shadow: 0px 0px 10px 3px rgb(52, 52, 52);
}

input {
    color: rgba(255, 255, 255, 0.797);
    padding: 10px 60px 10px 10px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(30, 83, 118);
    border-radius: 5px;
    background: rgba(30, 83, 118, 0.3);
    outline: none;
    margin-bottom: 0.8em;
    transition: 500ms;
}

input:focus {
    padding: 10px 80px 10px 10px;
    border-color: rgb(61, 230, 175);
    background: rgba(30, 83, 118, 0.5);
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(144, 144, 144, 0.747);
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgba(144, 144, 144, 0.747);
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgba(144, 144, 144, 0.747);
}

button {
    padding: 5px 20px;
    font-weight: 600;
    border-style: solid;
    border-color: rgb(61, 230, 175);
    border-radius: 5px;
    margin: 10px 0px;
    background-color: rgb(61, 230, 175);

}

button:hover {
    background-color: rgb(30, 83, 118);
    color: rgba(255, 255, 255, 0.5);
    border-color: rgb(30, 83, 118);
}