h1 {
    color: white;
    padding-bottom: 4vh;
}

.map-page {
    padding-top: 5vh;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;

    text-align: center;
}

@media screen and (orientation: portrait) {
    img {
        width: 90%;
    }
}

@media screen and (orientation: landscape) {
    img {
        width: 30%;
        // display: block;
        // margin-left: auto;
        // margin-right: auto;
        // margin-bottom: 5vmin;
    }
}
