.mp {
    opacity: 0;
}

.mp:nth-child(1) {
    animation-delay: 0s;
}
.mp:nth-child(2) {
    animation-delay: 2s;
}
.mp:nth-child(3) {
    animation-delay: 4s;
}
.mp:nth-child(4) {
    animation-delay: 6s;
}

h1 {
    color: white;
    margin-bottom: 4vh;
}

.blue {
    color: rgb(129, 179, 254);
}

.green {
    color: rgb(121, 255, 123);
}

.red {
    color: rgb(254, 129, 142);
}

.map-page {
    padding-top: 5vh;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}

.row {
    margin-top: 5vh !important;
}

img {
    margin-bottom: 20px;
}

.ignore {
    opacity: 0.3;
}